<div class="row">
    <div class="col-6">
        <app-bar-chart 
             [data]="data"
             [labels]="meses"
             [valor]="year"
             title="Tarjetas Generadas por mes">
        </app-bar-chart>   
    </div>

    <div class="col-6">
        <app-dona title="Tipos de Vehiculos registrados"></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona title="Antecedentes registrados por mes"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="Antecedentes registrados por naturaleza"></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
       
        <app-dona [labels]="labels1"
                  [data]="data1"
                  title="Cantidad de Conductores por Asociación">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona title="Cantidad de Conductores por Unidad Educativa"></app-dona>
    </div>
</div>